<html>
    <title>Background Replacement</title>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
            .img-thumbnail{
                width: 300px;
                height: 300px;
            }

            .box {
                 width: 500px;
            }
            h1{
                color: rgb(86, 110, 80);
            }
        </style>
        <h1 >RePlace</h1>
    </head>

    <body>   
    <br>
        {% if filename %}
                <span class="box">
        <image src="{{ url_for('static', filename = '/Images/'+filename)}}" class ="img-thumbnail"></image>
                </span>
                <span class="box">
        <image src="{{ url_for('static', filename = '/Images/'+filename2)}}" class="img-thumbnail"></image>
                </span>
                <span class="box">
        <image src="{{ url_for('static', filename = '/Output/output.jpeg')}}" class="img-thumbnail"></image>
                </span>
        {% endif %}
        <form method="post" action="/" enctype="multipart/form-data">
            <p>
                <span class="box">
                <input type="file" name="file" autocomplete="off" required>
                </span>
                <span class="box">
                <input type="file" name="file2" autocomplete="off" required>
                </span>
            </p>
        <p>
            <input type="submit"  class="btn btn-primary" value="Submit">
        </p>
        </form>


    </body>
</html>
